.container { 
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  margin: 8rem auto;
  max-width: 120rem;
  min-height: 50rem; }

  .header { 
     }

  .content { 
     }

  .sidebar { 
     }

  .hoter-view { 
     }


